@import "../../scss/variables";

.signIn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: calc(100vh - 11.6rem);
  font-family: $primary-font;
  font-size: $font-size-l;
  font-weight: $font-weight-bold;

  .formContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: $space-3xl;
    width: 65%;

    label {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      width: 100%;
      margin-top: $space-m;

      input {
        width: 100%;
        height: $space-m;
        margin-top: $space-2xs;
        padding-left: $space-2xs;
        font-weight: $font-weight-bold;
        border-radius: $border-radius-s;

        &:focus {
          outline: 2px solid $border-color-active;
        }
      }
      &:focus-within {
        color: $border-color-active;
      }
    }

    .forgotPasswordBtn {
      margin-top: $space-xs;
      color: $color-text-primary;
      border: none;

      &:hover {
        transform: scale(1.1);
        font-weight: $font-weight-bold;
      }
    }

    .submitButtonContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;

      button {
        color: $color-text-primary;
        border: 1px solid $color-primary-active;
        border-radius: $border-radius-l;
        padding: $space-2xs $space-xs;
        margin-top: $space-s;
        font-size: $font-size-l;
        font-weight: $font-weight-bold;

        &:hover {
          background-color: $color-text-hover;
        }

        img {
          width: 30px;
          padding-right: $space-2xs;
        }
      }
    }
  }
}

@media (min-width: 1024px) and (min-height: 700px) {
  .signIn {
    height: calc(100vh - 12.1rem);
  }
}
