@import " ../../../../../scss/variables";

.tablesDB {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: calc(100vh - 12.5rem);
  padding: $space-s;
  font-family: $primary-font;
  font-size: $font-size-l;
  font-weight: $font-weight-bold;

  .linkContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    padding: $space-xs;

    .linkReturnBtn {
      color: $color-text-primary;
      border: 1px solid $color-primary-active;
      border-radius: $border-radius-l;
      padding: $space-2xs $space-xs;
      font-size: $font-size-s;
      font-weight: $font-weight-bold;
      text-decoration: none;

      &:hover {
        background-color: $color-text-hover;
      }
    }
  }

  ::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
  }

  ::-webkit-scrollbar-corner {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 0.5rem;
    background-color: $color-primary-active;
    visibility: hidden;
  }

  .sectionTable {
    width: 100%;
    overflow: scroll;

    &:hover::-webkit-scrollbar-thumb {
      visibility: visible;
    }

    .table {
      border-collapse: collapse;
      width: 100%;

      th {
        position: sticky;
        top: 0;
        left: 0;
        padding: $space-2xs;
        border-collapse: collapse;
        background-color: $color-background-primary;

        &:nth-child(1) {
          z-index: 1;
        }
      }

      tbody {
        cursor: pointer;

        tr:hover {
          background-color: $color-primary-active;
        }

        td {
          border-collapse: collapse;
          padding: $space-2xs;
          text-align: center;
          font-size: $font-size-s;
          font-weight: $font-weight-normal;

          &:nth-child(1) {
            background: $color-background-primary;
            position: sticky;
            top: 0;
            left: -2px;
          }

          &:hover {
            background-color: $color-primary-active;
          }
        }
      }
    }
  }
}

@media (min-width: 1024px) and (min-height: 700px) {
  .tablesDB {
    .linkContainer {
      .linkReturnBtn {
        font-size: $font-size-l;
      }
    }
    .sectionTable {
      .table {
        th{
          font-size: $font-size-4xl;
        }
        tbody {
          td {
            font-size: $font-size-3xl;
          }
        }
      }
    }
  }
}
