@import "../../scss/variables";

.modifyCategory {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: calc(100vh - 12.5rem);
  padding: $space-s;
  font-family: $primary-font;
  font-size: $font-size-l;
  font-weight: $font-weight-bold;

  h2 {
    text-align: center;
    font-size: $font-size-3xl;
    padding-top: $space-l;
    padding-bottom: $space-m;
  }

  .categoryForm {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;

    label {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      padding-top: $space-m;
      width: 100%;

      .labelTitle {
        font-size: $font-size-l;
        padding-bottom: $space-xs;
      }

      .inputTitle {
        width: 93%;
        height: $space-m;
        margin-top: $space-2xs;
        padding: 0 $space-xs;
        font-weight: $font-weight-bold;
        border-radius: $border-radius-s;

        &:focus {
          outline: 2px solid $border-color-active;
        }
      }

      textarea {
        width: calc(100% - 10px);
        height: $space-3xl;
        margin-top: $space-2xs;
        padding: $space-2xs;
        font-weight: $font-weight-bold;
        border-radius: $border-radius-s;
      }
    }

    .buttonsContainer {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      padding-top: $space-m;
      gap: $space-s;

      button {
        color: $color-text-primary;
        border: 1px solid $color-primary-active;
        border-radius: $border-radius-l;
        padding: $space-2xs $space-xs;
        font-size: $font-size-s;
        font-weight: $font-weight-bold;

        &:hover {
          background-color: $color-text-hover;
        }
      }
    }
  }
}
