@import "../../scss/variables";

.modifyAuthor {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: calc(100vh - 12.5rem);
  padding: $space-s;
  font-family: $primary-font;
  font-size: $font-size-l;
  font-weight: $font-weight-bold;

  .title {
    text-align: center;
    font-size: $font-size-3xl;
  }

  .modifyAuthorForm {
    display: flex;
    justify-content: start;
    align-items: flex-start;
    flex-direction: column;
    min-width: 90vw;
    padding: $space-s;

    .inputLabel {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      width: 100%;
      margin-bottom: $space-s;

      input {
        width: 93%;
        height: $space-m;
        margin-top: $space-2xs;
        padding: 0 $space-xs;
        font-weight: $font-weight-bold;
        border-radius: $border-radius-s;

        &:focus {
          outline: 2px solid $border-color-active;
        }
      }

      select {
        width: 50%;
        height: $space-m;
        margin-top: $space-2xs;
        padding-left: $space-2xs;
        font-weight: $font-weight-bold;
        border-radius: $border-radius-s;

        &:focus {
          outline: 2px solid $border-color-active;
        }
      }
    }

    .datesContainer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      .inputLabelBorn {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        width: 30%;
        margin-bottom: $space-s;
      }
      .inputLabelDead {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 30%;
        margin-bottom: $space-s;
      }

      .inputDates {
        width: 80%;
        height: $space-m;
        margin-top: $space-2xs;
        padding: 0 $space-xs;
        font-size: $font-size-s;
        font-weight: $font-weight-bold;
        border-radius: $border-radius-s;

        &:focus {
          outline: 2px solid $border-color-active;
        }
      }

      .inputLabelEra {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        flex-direction: column;
        width: 30%;
        margin-bottom: $space-s;

        .labelNameEra {
          margin-right: 15%;
        }

        .selectEra {
          width: 100%;
          height: $space-m;
          margin-top: $space-2xs;
          padding-left: $space-2xs;
          font-weight: $font-weight-bold;
          border-radius: $border-radius-s;

          &:focus {
            outline: 2px solid $border-color-active;
          }
        }
      }
    }

    .submitBtnContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      margin-top: $space-l;
      gap: $space-m;

      .submitBtn {
        color: $color-text-primary;
        border: 1px solid $color-primary-active;
        border-radius: $border-radius-l;
        padding: $space-2xs $space-xs;
        font-size: $font-size-l;
        font-weight: $font-weight-bold;

        &:hover {
          background-color: $color-text-hover;
        }
      }
    }

    .buttonsContainer {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      padding-top: $space-m;
      gap: $space-s;

      button {
        color: $color-text-primary;
        border: 1px solid $color-primary-active;
        border-radius: $border-radius-l;
        padding: $space-2xs $space-xs;
        font-size: $font-size-s;
        font-weight: $font-weight-bold;

        &:hover {
          background-color: $color-text-hover;
        }
      }
    }
  }
}
