@import "../scss/variables";

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100vw;
  height: 6vh;

  .link {
    font-size: $font-size-l;
    font-weight: $font-weight-bolt;
    color: $color-text-primary;
    margin-right: $space-s;
    padding: $space-2xs $space-xs;
    border: 1px solid $color-primary-active;
    border-radius: $border-radius-l;
    text-decoration: none;

    &:hover {
      background-color: $color-text-hover;
    }
  }
}