@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Raleway:wght@400;700&display=swap');

/*---Font---*/
$primary-font: "Raleway",
  Helvetica,
  Arial,
  sans-serif;
$title-font: 'Pacifico', cursive;

$font-weight-normal: 400;
$font-weight-bolt: 700;

$font-size-5xl: 3rem;
$font-size-4xl: 2rem;
$font-size-3xl: 1.625rem;
$font-size-2xl: 1.5rem;
$font-size-xl: 1.4rem;
$font-size-l: 1.2rem;
$font-size-m: 1rem;
$font-size-s: 0.875rem;
$font-size-xs: 0.75rem;
$font-size-2xs: 0.65rem;
$font-size-3xs: 0.55rem;

/*---Color---*/

// $color-default: #2d3142;

$color-background-primary: #111827;
$color-background-secondary: #111827;
$color-text-primary: #fff;
$color-text-hover: #94a3b8;
$color-primary-active: #4f5d75;

/*---Border---*/
$border-radius-round: 50%;
$border-radius-2l: 50px;
$border-radius-2l: 40px;
$border-radius-xl: 30px;
$border-radius-l: 20px;
$border-radius-m: 10px;
$border-radius-s: 5px;


/*---Spacing---*/
$space-3xl: 100px;
$space-2xl: 60px;
$space-xl: 40px;
$space-l: 30px;
$space-m: 20px;
$space-s: 15px;
$space-xs: 10px;
$space-2xs: 5px;
$space-3xs: 2px;
$space-0: 0;