@import "../../scss/variables";

.logged {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: 83.9vh;
  font-family: $primary-font;
  font-size: $font-size-l;

  .inputs-container {
    margin-top: $space-l;

    .input-search-category {
      width: 45%;
      height: $space-m;
      padding-left: $space-2xs;
      font-weight: $font-weight-bold;
      border-radius: $border-radius-s;

      &:focus {
        outline: 2px solid $border-color-active;
      }
    }

    .show-input-search-event{
      position: relative;
      z-index: 11000;
    }

    select {
      width: 45%;
      height: $space-m + 3px;
      margin-left: $space-m;
      padding-left: $space-2xs;
      font-weight: $font-weight-bold;
      border-radius: $border-radius-s;

      &:focus {
        outline: 2px solid $border-color-active;
      }
    }
  }

  .life-event-container {
    width: 90%;
    margin-top: $space-xl;
    font-family: $secondary-font;
    font-size: $font-size-4xl;
    text-align: center;
  }

  .visions-container {
    margin-top: $space-s;

    .vision-phrase {

      margin-top: $space-m;
      font-size: $font-size-3xl;
      text-align: center;
    }
  }
}