@import "../../scss/variables";

.resetPassword {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: calc(100vh - 9.5rem);
  font-family: $primary-font;
  font-size: $font-size-l;
  font-weight: $font-weight-bold;

  .title {
    margin-top: $space-l;
    font-size: $font-size-3xl;
    text-align: center;
  }

  .formContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: $space-3xl;
    width: 65%;

    label {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      width: 100%;
      margin-top: $space-m;

      // textarea {
      //   width: calc(100% - 10px);
      //   padding: $space-2xs;
      //   font-weight: $font-weight-bold;
      //   border-radius: $border-radius-s;
      // }

      .errorInput {
        outline: 2px solid red;
      }

      input {
        width: 100%;
        height: $space-m;
        margin-top: $space-2xs;
        padding-left: $space-2xs;
        font-weight: $font-weight-bold;
        border-radius: $border-radius-s;

        &:focus {
          outline: 2px solid $border-color-active;
        }
      }

      &:focus-within {
        color: $border-color-active;
      }

      .inputValidationMessage {
        text-align: center;
        font-weight: $font-weight-normal;
      }

      .inputValidationHidden {
        visibility: hidden;
      }

      .inputPasswordValidationHidden {
        display: none;
      }
    }

    .submitButtonContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;

      button {
        color: $color-text-primary;
        border: 1px solid $color-primary-active;
        border-radius: $border-radius-l;
        padding: $space-2xs $space-xs;
        margin-top: $space-m;
        font-size: $font-size-l;
        font-weight: $font-weight-bold;

        &:hover {
          background-color: $color-text-hover;
        }
      }
    }
  }
}
