@import "../../../scss/variables";

.footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100vw;
  height: 8vh;
  border-top: 1px solid $color-text-hover;
  font-family: $primary-font;
  color: $color-text-primary;
  background-color: $color-background-primary;

  .social-list {
    display: inherit;
    list-style: none;

    .social-item-list {
      margin-right: $space-m;

      a {
        color: $color-text-primary;
        text-decoration: none;
      }
    }
  }
}
