@import "../../scss/variables";

.home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: calc(100vh - 9.5rem);
  font-family: $primary-font;
  color: $color-text-primary;
  background-color: $color-background-primary;

  .main {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    .titleContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: $space-xs;
      margin-bottom: $space-xs;
      width: 100%;

      .title {
        font-family: $secondary-font;
        font-weight: $font-weight-normal;
        font-size: $font-size-4xl;

        img {
          width: 70px;
          margin-bottom: $space-xs;
          margin-left: $space-2xs;
        }

        .subTitle {
          font-family: $primary-font;
          font-size: $font-size-5xl;
          margin-left: $space-2xs;
        }
      }
    }

    .descriptionSection {
      width: 80vw;
      margin-bottom: $space-m;

      .descriptionText {
        text-align: center;
        font-family: $primary-font;
        font-weight: $font-weight-normal;
        font-size: $font-size-l;
        letter-spacing: 1px;
      }
    }

    .randomPhrasesSection {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 90vw;
      margin-top: $space-m;
      padding: 0 $space-xs;
      text-align: center;
      font-weight: $font-weight-bold;
      font-size: $font-size-xl;
    }

    @keyframes phrases-animation {
      0% {
        transform: translateY(-14%);
        text-shadow: 0 0 15px rgba(176, 182, 189, 0.8);
      }
      25% {
        transform: translateX(-14%);
        text-shadow: 0 0 15px rgba(176, 182, 189, 0.8);
      }

      100% {
        transform: translateX(12%);
        text-shadow: 0 0 15px rgba(176, 182, 189, 0.8);
      }
    }

    .phrase0 {
      max-width: 85%;
      margin-bottom: $space-l;

      animation: phrases-animation 4s linear infinite alternate;
    }

    .phrase1 {
      max-width: 85%;
      margin-bottom: $space-l;

      animation: phrases-animation 4s linear infinite alternate-reverse;
    }

    .phrase2 {
      margin-bottom: $space-l;
      max-width: 85%;

      animation: phrases-animation 4s linear infinite alternate;
    }
  }
}

@media (min-width: 1024px) and (min-height: 700px) {
  .home {
    height: calc(100vh - 12.1rem);

    .main {
      .titleContainer {
        .title {
          font-size: $font-size-9xl;
          img {
            width: 150px;
            margin-bottom: $space-xs;
            margin-left: $space-2xs;
          }

          .subTitle {
            font-family: $primary-font;
            font-size: $font-size-10xl;
            margin-left: $space-2xs;
          }
        }
      }

      .descriptionSection {
        .descriptionText {
          font-size: $font-size-3xl;
        }
      }

      .randomPhrasesSection {
        justify-content: space-between;
        height: 50vh;
        margin-top: $space-xl;
        font-size: $font-size-5xl;
      }
    }
  }
}
