@import "./scss/variables";

.app {
  // display: flex;
  // justify-content: space-between;
  // align-items: center;
  // flex-direction: column;
  // height: 100vh;
  font-family: $primary-font;
  color: $color-text-primary;
  background-color: $color-background-primary;
}
