@import "../../scss/variables";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 4.7rem;
  font-family: $primary-font;
  color: $color-text-primary;
  background-color: $color-background-primary;

  .logoContainer {
    min-width: 6.5rem;
    height: auto;
    padding: $space-xs;
  }

  .hiddenLogo {
    display: none;
  }

  .nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100vw;
    padding-right: $space-2xs;
    gap: $space-2xs;
    flex-grow: 1;

    .link {
      font-size: $font-size-m;
      font-weight: $font-weight-bold;
      color: $color-text-primary;
      padding: $space-2xs $space-xs;
      border: 1px solid $color-primary-active;
      border-radius: $border-radius-l;
      text-decoration: none;

      &:hover {
        color: $color-primary-active;
        background-color: $color-text-hover;
      }
    }
  }
}

@media (min-width: 1024px) and (min-height: 700px) {
  .header {
    .nav {
      padding: 20px;
      .link {
        font-size: $font-size-xl;
      }
    }
  }
}
