  @import "../../../scss/variables";

  .overlay {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    z-index: 9000;
    background-color: #111827e5;

    .modal-container {
      position: relative;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      width: 70vw;
      height: 50vh;
      background-color: $color-primary-active;
      z-index: 10000;
      border-radius: $border-radius-m;

      .close-icon-modal {
        position: absolute;
        top: $space-xs;
        right: $space-xs;
        border-radius: $border-radius-s;

        &:hover {
          color: $color-text-hover;
        }
      }

      .modal-title {
        margin-top: $space-m;
        font-family: $secondary-font;
        font-size: $font-size-6xl;
        font-weight: $font-weight-normal;
        color: $color-text-hover;
      }

      .list-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: $space-xs;
        overflow-y: auto;
        list-style: none;

        .list {

          .list-items {

            button {
              width: 95%;
              margin-bottom: $space-s ;
              padding: $space-2xs;
              text-align: center;
              font-family: $primary-font;
              font-size: $font-size-xl;
              font-weight: $font-weight-bold;
              color: $color-text-primary;
              background-color: $color-background-primary;
              border: none;
              border-radius: $border-radius-m;
              cursor: pointer;

              &:hover {
                color: $color-text-hover;
              }
            }
          }
        }
      }
    }
  }