@import "../../scss/variables";

.logged {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: 83.9vh;
  font-family: $primary-font;
  font-size: $font-size-l;


  .modal-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    z-index: 9000;
    background-color: #111827e5;
    // opacity: 0.8;

    .content-container-modal {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      width: 50vw;
      height: 50vh;
      background-color: $color-primary-active;
      z-index: 10000;
      border: 2px solid black;
      border-radius: $border-radius-m;
    }
  }

  .hidden-modal {
    display: none;
  }

  .input-container {
    // display: flex;
    // justify-content: center;
    // align-items: center;
    margin-top: $space-l;

    input {
      width: 45%;
      height: $space-m;
      padding-left: $space-2xs;
      font-weight: $font-weight-bolt;
      border-radius: $border-radius-s;

      &:focus {
        outline: 2px solid $border-color-active;
      }
    }

    select {
      width: 45%;
      height: $space-m + 3px;
      margin-left: $space-m;
      padding-left: $space-2xs;
      font-weight: $font-weight-bolt;
      border-radius: $border-radius-s;

      &:focus {
        outline: 2px solid $border-color-active;
      }
    }
  }

  .life-event-container {
    width: 90%;
    margin-top: $space-xl;
    font-family: $secondary-font;
    font-size: $font-size-4xl;
    text-align: center;
  }

  .visions-container {
    margin-top: $space-s;

    .vision-phrase {

      margin-top: $space-m;
      font-size: $font-size-3xl;
      text-align: center;
    }
  }
}