@import " ../../../../scss/variables";

.admin {
  height: calc(100vh - 12.5rem);
  font-family: $primary-font;
  font-size: $font-size-l;
  font-weight: $font-weight-bold;

  .adminTitle {
    margin-top: $space-l;
    font-size: $font-size-3xl;
    text-align: center;
  }

  .tablesDBButtons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 100%;
    padding-top: $space-s;
    padding-right: $space-s;
    padding-bottom: $space-2xs;
    padding-left: $space-s;
    gap: $space-2xs;

    .buttons {
      color: $color-text-primary;
      border: 1px solid $color-primary-active;
      border-radius: $border-radius-l;
      padding: $space-2xs $space-xs;
      font-size: $font-size-s;
      font-weight: $font-weight-bold;

      &:hover {
        background-color: $color-text-hover;
      }
    }
  }

  .form {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    min-width: 90vw;
    padding: $space-s;

    .label {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      width: 100%;

      .input {
        width: 93%;
        height: $space-m;
        margin-top: $space-xs;
        padding: 0 $space-xs;
        font-weight: $font-weight-bold;
        border-radius: $border-radius-s;

        &:focus {
          outline: 2px solid $border-color-active;
        }
      }
    }
    .selectAuthorsContainer {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      margin-top: $space-l;
      gap: $space-m;

      .select {
        width: 50%;
        height: $space-m + 3px;
        padding-left: $space-2xs;
        font-weight: $font-weight-bold;
        border-radius: $border-radius-s;

        &:focus {
          outline: 2px solid $border-color-active;
        }
      }

      .addAuthorBtn {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $color-text-primary;
        border: none;

        &:active {
          color: $color-text-hover;
        }
      }

      .addAuthorBtnDescription {
        font-family: $primary-font;
        font-size: $font-size-l;
        font-weight: $font-weight-bold;
        margin-left: 1rem;
      }
    }

    .selectEventsContainer {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      margin-top: $space-l;

      .select {
        width: 70%;
        height: $space-m + 3px;
        padding-left: $space-2xs;
        font-weight: $font-weight-bold;
        border-radius: $border-radius-s;

        &:focus {
          outline: 2px solid $border-color-active;
        }
      }

      .addEventBtn {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 0.5rem;
        color: $color-text-primary;
        border: none;

        &:active {
          color: $color-text-hover;
        }
      }

      .addEventBtnDescription {
        font-family: $primary-font;
        font-size: $font-size-l;
        font-weight: $font-weight-bold;
        margin-left: 0.5rem;
      }
    }

    .link {
      text-decoration: none;
    }

    .submitBtnContainer {
      text-align: center;
      margin: auto;
      width: 100%;
      margin-top: $space-2xl;

      .submitBtn {
        color: $color-text-primary;
        border: 1px solid $color-primary-active;
        border-radius: $border-radius-l;
        padding: $space-2xs $space-xs;
        font-size: $font-size-l;
        font-weight: $font-weight-bold;

        &:hover {
          background-color: $color-text-hover;
        }
      }
    }
  }
}

@media (min-width: 1024px) and (min-height: 700px) {
  .admin {
    height: calc(100vh - 15.1rem);

    .adminTitle {
      font-size: $font-size-6xl;
    }

    .tablesDBButtons {
      .buttons {
        font-size: $space-s;
      }
    }
  }
}
