@import "../../../scss/variables";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 8vh;
  font-family: $primary-font;
  color: $color-text-primary;
  background-color: $color-background-primary;

  .logo-container {
    width: 65px;
    height: auto;
    margin-left: $space-xs;
  }

  .hidden-logo {
    display: none;
  }

  .link {
    font-size: $font-size-l;
    font-weight: $font-weight-bolt;
    color: $color-text-primary;
    margin-right: $space-s;
    padding: $space-2xs $space-xs;
    border: 1px solid $color-primary-active;
    border-radius: $border-radius-l;
    text-decoration: none;

    &:hover {
      color: $color-primary-active;
      background-color: $color-text-hover;
    }
  }
}