@import "../../scss/variables";

.aboutMe {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: calc(99vh - 10.5rem);
  font-family: $primary-font;
  color: $color-text-primary;
  background-color: $color-background-primary;

  .titleContainer {
    margin-top: $space-l;

    .title {
      font-family: $secondary-font;
      font-size: $font-size-5xl;
      font-weight: $font-weight-normal;
    }
  }

  .imgAndDescriptionContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding-top: $space-m;
    width: 90vw;
    height: 100%;
    gap: $space-s;

    .aboutMeDescriptionWithImage {
      display: flex;
      justify-content: center;
      align-items: space-between;
      font-size: $font-size-xl;
      font-weight: $font-weight-normal;

      .descriptionText1 {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 70%;
      }
      .imgContainer {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 30%;

        img {
          border-radius: $border-radius-round;
        }
      }
    }
    .aboutMeDescription {
      display: flex;
      justify-content: center;
      align-items: space-between;
      flex-direction: column;
      gap: $space-s;
      font-size: $font-size-l;
      font-weight: $font-weight-normal;
      width: 90vw;

      .descriptionText3 {
        font-weight: $font-weight-bold;
      }
    }
  }
}

@media (min-width: 1024px) and (min-height: 700px) {
  .aboutMe {
  height: calc(99vh - 10.3rem);

    .titleContainer {
      .title {
        font-size: $font-size-10xl;
      }
    }

    .imgAndDescriptionContainer {
      .aboutMeDescriptionWithImage {
        .descriptionText1 {
          width: 70%;
          font-size: $font-size-5xl;
        }
        
        .imgContainer {
          width: 20%;
        }
      }

      .aboutMeDescription {
        .descriptionText2 {
          font-size: $font-size-4xl;
        }

        .descriptionText3 {
          font-weight: $font-weight-bold;
          font-size: $font-size-4xl;
        }

        .descriptionText4 {
          font-size: $font-size-4xl;
        }
      }
    }
  }
}
