@import "../../scss/variables";

.overlay {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  z-index: 9000;
  background-color: #111827e5;

  .modalContainer {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 70vw;
    height: 50vh;
    background-color: $color-primary-active;
    z-index: 10000;
    border-radius: $border-radius-m;
    
    .closeIconModal {
      position: absolute;
      top: $space-xs;
      right: $space-xs;
      border-radius: $border-radius-s;
      
      &:hover {
        color: $color-text-hover;
      }
    }
    
    .modalTitle {
      font-family: $secondary-font;
      font-size: $font-size-6xl;
      font-weight: $font-weight-normal;
      color: $color-text-primary;
    }
    
    .listContainer {
      position:relative;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      padding: $space-xs;
      overflow-y: auto;
      flex-grow: 1; 
      
      .list {
        list-style: none;

        .listItems {
          list-style: none;
          
          button {
            width: 95%;
            margin-bottom: $space-s;
            padding: $space-2xs;
            text-align: center;
            font-family: $primary-font;
            font-size: $font-size-xl;
            font-weight: $font-weight-bold;
            color: $color-text-primary;
            background-color: $color-background-primary;
            border: none;
            border-radius: $border-radius-m;
            cursor: pointer;

            &:hover {
              color: $color-text-hover;
            }
          }
        }
      }
    }
  }
}
